#gameOver {
    display: none;
}

.statistics {
    display: inline-block;
}

#commandPrompt {
    border: 1px solid black;
}

/*#textPromptBox {*/
/*    border: 5px solid black;*/
/*    height: 100px;*/
/*}*/

#textEditorBox {
    width: 100%;
    border: 1px solid black;
    white-space: pre;
}