#gameOver {
    display: none;
}

.statistics {
    display: inline-block;
}

#commandPrompt {
    border: 1px solid black;
}

#textPromptBox {
    border: 1px solid  black;
    height: 100px;
}

#textEditorBox {
    width: 100%;
}