#gameOver {
    display: none;
}

.statistics {
    display: inline-block;
}

/*#commandPrompt {*/
/*    border: 1px solid black;*/
/*}*/

/*#textPromptBox {*/
/*    border: 5px solid black;*/
/*    height: 100px;*/
/*}*/

/*#promptAndHistoryBox {*/
/*    width: 100%;*/
/*    border: 1px solid black;*/
/*    white-space: pre;*/
/*}*/

#automation {
    display: inline;
    width: 100%;
}

body{
    background-color: black ;
    /*#2B2B2B*/
}
p{
    color: #008855;
}

h1, h2{
    color: white;
}

.userInputArea {
    float:left;
}
#authenticCommandLine {
    width: 25px;
}
#textEditorBox {
    width:500px;
}